* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #f7d9ff, #b8f2ff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 85%;
    height: 75vh;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 25px;
    display: flex;
    padding: 30px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.15);
}

/* Left Card */
.profile-card {
    width: 30%;
    background: linear-gradient(180deg, #c77dff, #9d4edd);
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 30px;
}

.profile-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 20px;
}


.profile-card h2 {
    font-size: 26px;
    line-height: 1.2;
}

.profile-card .tag {
    margin-top: 10px;
    font-weight: 500;
}

.profile-card span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    opacity: 0.9;
}

/* Right Content */
.content {
    width: 70%;
    padding: 40px 60px;
}

.content h1 {
    font-size: 48px;
    font-weight: 700;
}

.content h1 span {
    color: #7b2cbf;
}

.subtitle {
    margin: 10px 0 25px;
    font-weight: 500;
}

.buttons {
    margin-bottom: 25px;
}

.btn {
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.primary {
    background: #7b2cbf;
    color: white;
    margin-right: 15px;
}

.primary:hover {
    background: #5a189a;
}

.secondary {
    background: transparent;
    border: 2px solid #7b2cbf;
    color: #7b2cbf;
}

.secondary:hover {
    background: #7b2cbf;
    color: white;
}

.description {
    max-width: 520px;
    line-height: 1.7;
    color: #333;
}
